/* приховані заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.nav {
  display: flex;
  align-items: center;
}

:root {
  --basic-color: #2e2f42;
  --second-color: #434455;
  --alt-color: #ffffff;
  --active-color: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.site-nav {
  display: flex;
  margin-left: 70px;
}
.site-nav .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--basic-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.item {
  margin-right: 40px;
}
.site-nav:hover,
.site-nav:focus,
.site-nav.current {
  color: var(--active-color);
}

.phone {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.mail:hover,
.mail:focus {
  color: #404bbf;
}
.phone:hover,
.phone:focus {
  color: #404bbf;
}
.nav-adress {
  display: flex;
}
.main-nav {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  margin-left: auto;
}
/* hero */
.hero-box {
  outline: 2px solid red;
  background-color: var(--basic-color);
  text-align: center;
}
.hero {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--alt-color);
}
.button-hero {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.text-btn-hero {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
}
.button-hero:hover,
.button-hero:focus {
  background: #404bbf;
}
.card-container {
  display: flex;
  /* justify-content: space-around;
  flex-basis: calc(100% / 3); */
  gap: 24px;
}
.img-item {

}
.filtr-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 96px;
  padding-bottom: 72px;
}
.btn-filter {
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.btn-filtr-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #4d5ae5;
}
.btn-filter:hover,
.btn-filter:focus {
  color: #ffffff;
  background: #404bbf;
}

.going-title {
  justify-content: center;
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
.img-title {
}
.title-desk {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  padding-bottom: 72px;
}
.title-team {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 72px;
}

.title-list {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  padding-bottom: 8px;
  padding-top: 32px;
}
.subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
  padding-bottom: 8px;
  padding-top: 32px;
}
.img-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px 0px;
  gap: 12px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-list {
  display: flex;
  gap: 24px;
  padding-left: 120px;
  padding-right: 120px;
}
.about-item {
}
.title-workers {
  justify-content: space-around;
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.team-section {
  background: #f4f4fd;
}
.main-bgcolor {
  background: #ffffff;
}
/* footer */
.footer-background {
  background: #2e2f42;
}

.footer-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--alt-color);
}

/* логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-end {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo-end-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
